[submodule "submodule/Newtonsoft.Json"]
	path = submodule/Newtonsoft.Json
	url = https://github.com/CHiiLD/Newtonsoft.Json.git
[submodule "submodule/CsvHelper"]
	path = submodule/CsvHelper
	url = https://github.com/CHiiLD/CsvHelper.git
[submodule "submodule/HidLibrary"]
	path = submodule/HidLibrary
	url = https://github.com/CHiiLD/HidLibrary.git
