[submodule "submodule/Newtonsoft.Json"]
	path = submodule/Newtonsoft.Json
	url = https://github.com/CHiiLD/Newtonsoft.Json.git
[submodule "submodule/CsvHelper"]
	path = submodule/CsvHelper
	url = https://github.com/CHiiLD/CsvHelper.git
[submodule "submodule/HidLibrary"]
	path = submodule/HidLibrary
	url = https://github.com/CHiiLD/HidLibrary.git
[submodule "submodule/MahApps.Metro"]
	path = submodule/MahApps.Metro
	url = https://github.com/CHiiLD/MahApps.Metro.git
[submodule "submodule/log4net"]
	path = submodule/log4net
	url = https://github.com/CHiiLD/log4net.git
[submodule "submodule/net-toolkit"]
	path = submodule/net-toolkit
	url = https://github.com/CHiiLD/net-toolkit.git
[submodule "submodule/NLog"]
	path = submodule/NLog
	url = https://github.com/CHiiLD/NLog
[submodule "submodule/MonoTouchMVVMCrossValidationTester"]
	path = submodule/MonoTouchMVVMCrossValidationTester
	url = https://github.com/CHiiLD/MonoTouchMVVMCrossValidationTester.git
[submodule "submodule/oxyplot"]
	path = submodule/oxyplot
	url = https://github.com/CHiiLD/oxyplot.git
[submodule "submodule/PropertyTools"]
	path = submodule/PropertyTools
	url = https://github.com/CHiiLD/PropertyTools.git
[submodule "submodule/AsyncEx"]
	path = submodule/AsyncEx
	url = https://github.com/CHiiLD/AsyncEx.git
[submodule "submodule/moq4"]
	path = submodule/moq4
	url = https://github.com/CHiiLD/moq4.git
[submodule "submodule/nunit"]
	path = submodule/nunit
	url = https://github.com/CHiiLD/nunit.git
[submodule "submodule/nunit3-vs-adapter"]
	path = submodule/nunit3-vs-adapter
	url = https://github.com/CHiiLD/nunit3-vs-adapter
