[submodule "log4net"]
	path = log4net
	url = git://github.com/CHiilD/log4net
[submodule "MetroChart"]
	path = MetroChart
	url = https://github.com/CHiiLD/MetroChart.git
[submodule "DY/MahApps.Metro"]
	path = DY/MahApps.Metro
	url = https://github.com/CHiiLD/MahApps.Metro.git
[submodule "MahApps.Metro"]
	path = MahApps.Metro
	url = https://github.com/ChiiLD/MahApps.Metro
